@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: "Montserrat", "sans-serif";
    --font-secondary: "Bitcount Grid Double", "sans-serif";

    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-neutral: #333333;
}

.dark {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-neutral: #ffffff;
}