@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: "Roboto Slab", "sans-serif";
    --font-secondary: "Bitcount Grid Double", "sans-serif";
    --font-text: "JetBrains Mono", "sans-serif";

    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-highlight: #3b82f6;
}

:root {
    --ui-primary: var(--color-primary);
    --ui-secondary: var(--color-secondary);
    --ui-highlight: var(--color-highlight);
}

.dark {
    --color-primary: #ffffff;
    --color-secondary: #000000;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes text-reveal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text-hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}