@import "tailwindcss";

@theme {
    --font-primary: "Montserrat", "sans-serif";
    --font-secondary: "Bitcount Grid Double", "sans-serif";
    
    --color-primary: white;
    --color-secondary: black;
}

.dark {
    --color-primary: black;
    --color-secondary: white;
}